In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
# variable print it.

# Q3. Create a Pandas DataFrame that contains the following data:
    
#     Name       Age        Gender   
#     Alice      25         Female
#     Bob        30         Male
#     Claire     27         Female
    
# Then, print the DataFrame.

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
# you give an example of when you might use one of these functions?

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

# Q7. Create a DataFrame using multiple Series. Explain with an example

In [ ]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

# create a Pandas Series
data = pd.Series([4, 8, 15, 16, 23, 42])

# print the Series
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
# variable print it.

In [4]:
import pandas as pd

# create a list variable
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# create a Pandas Series
my_series = pd.Series(my_list)

# print the Series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
# Q3. Create a Pandas DataFrame that contains the following data:
    
#     Name       Age        Gender   
#     Alice      25         Female
#     Bob        30         Male
#     Claire     27         Female
    
# Then, print the DataFrame.

In [7]:
import pandas as pd

# create a dictionary with the given data
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

# create a Pandas DataFrame
df = pd.DataFrame(data)

# print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [9]:
# The main difference between a Pandas DataFrame and a Pandas Series is that a DataFrame can store and manipulate data in 2 dimensions (rows and columns),
# while a Series can only store and manipulate data in 1 dimension (rows). A DataFrame is essentially a collection of Series objects that share the same index.

# Here's an example that illustrates the difference between a Pandas Series and a Pandas DataFrame:

import pandas as pd

# create a Pandas Series
series_data = pd.Series([4, 8, 15, 16, 23, 42])

# create a Pandas DataFrame
df_data = pd.DataFrame({'Numbers': [4, 8, 15, 16, 23, 42], 
                        'Colors': ['Red', 'Green', 'Blue', 'Yellow', 'Black', 'White']})

# print the Series
print(series_data)

# print the DataFrame
print(df_data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
   Numbers  Colors
0        4     Red
1        8   Green
2       15    Blue
3       16  Yellow
4       23   Black
5       42   White

In [10]:
# In this example, series_data is a Pandas Series that contains 6 numbers. It has only one column, and each number is assigned an index number automatically by Pandas.

# On the other hand, df_data is a Pandas DataFrame that also contains the same 6 numbers, but this time, each number is paired with a color in a separate column.
# The first column is named "Numbers", and the second column is named "Colors". Each row in the DataFrame represents a separate data point, and each column represents a different variable
# The DataFrame also has its own index, which is assigned by Pandas by default.

In [11]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
# you give an example of when you might use one of these functions?

In [15]:
# Pandas provides a wide range of functions to manipulate data in a DataFrame. Some of the common functions are:

# head(): This function returns the first n rows of the DataFrame. It is useful to quickly inspect the data.

# tail(): This function returns the last n rows of the DataFrame. It is useful to quickly inspect the end of the data.

# describe(): This function returns a summary of statistics for each numerical column in the DataFrame, including count, mean, standard deviation, minimum, and maximum values. 
# It is useful to get a quick overview of the data.

# info(): This function provides a summary of the DataFrame's metadata, including the number of non-null values, data types, and memory usage. 
# It is useful to check the data types and the amount of memory used by the DataFrame.

# drop(): This function allows you to remove one or more rows or columns from the DataFrame. It is useful to remove unnecessary columns or rows that contain missing or incorrect data.

# fillna(): This function allows you to fill missing values in the DataFrame with a specified value or method. It is useful to handle missing data.

# groupby(): This function allows you to group the data in the DataFrame by one or more columns and perform an aggregate function on each group. 
# It is useful to perform data aggregation and analysis.

# sort_values(): This function allows you to sort the DataFrame by one or more columns. It is useful to sort the data in a particular order.

# pivot_table(): This function allows you to create a pivot table from the DataFrame, which is useful for summarizing data and performing analysis.

# For example, you might use the fillna() function to fill missing values in a DataFrame with the mean of the column


import pandas as pd

# create a DataFrame with missing values
df = pd.DataFrame({'A': [1, 2, None, 4],
                   'B': [5, None, 7, 8]})

# fill missing values in column A & B with the mean
df['A'] = df['A'].fillna(df['A'].mean())
df['B'] = df['B'].fillna(df['B'].mean())
# show the resulting DataFrame
print(df)

          A         B
0  1.000000  5.000000
1  2.000000  6.666667
2  2.333333  7.000000
3  4.000000  8.000000

In [16]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [17]:
# In pandas library, both Series and DataFrame are mutable in nature, which means their values can be changed after they are created. 
# However, Panel is deprecated since version 0.25.0 and its functionalities have been moved to other parts of the library.

In [18]:
# Q7. Create a DataFrame using multiple Series. Explain with an example

In [19]:
# To create a DataFrame using multiple Series in pandas, we can pass a dictionary where the keys represent the column names and the values are the Series. Here's an example

import pandas as pd

# create the Series
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 35, 40])
cities = pd.Series(['New York', 'London', 'Paris', 'Tokyo'])

# create the DataFrame using a dictionary
df = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})

# print the DataFrame
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3    David   40     Tokyo